<md-dialog>
    <form ng-submit="answer()">
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <h5>{{question.lingualContent[user.lang].text}}</h5>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>{{ 'question.newanswer.answer_placeholder' | translate }}</label>
                        <textarea ng-model="answ.text" columns="1" rows="5"></textarea>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'question.newanswer.cancel' | translate }}
            </md-button>
            <md-button class="md-primary" ng-click="answer()" style="margin-right:20px;">
                {{ 'question.newanswer.submit' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>