<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card question-card">
            <div class="mdl-card__title">
                <h4>{{question.lingualContent[user.lang].text}}</h4>
            </div>
            <div class="mdl-card__actions">
                <div class="detailed-author-description">
                    <img class="profile" src="img/ic_face_black_48px.svg" />
                    <p class="description-detail">{{ 'question.question.asked_by' | translate }} <a href="#">{{question.askedBy.username}}</a></p>
                    <p class="description-detail">{{question.created | date:'dd.MM.yyyy HH:mm'}}</p>
                </div>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">star_border</i>
                </button>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col" ng-repeat="answer in question.answers | orderBy:votes">
        <div class="mdl-card question-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <div class="answer-rating">
                    <div class="answer-block">
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" ng-click="voteup(answer)">
                            <i class="material-icons" ng-class="{'already-upvoted': answer.upvotes.indexOf(user.username) != -1,
                          'already-voted-other': answer.downvotes.indexOf(user.username) != -1}">keyboard_arrow_up</i>
                        </button>
                    </div>
                    <div class="answer-block">
                        {{answer.upvotes.length - answer.downvotes.length}}
                    </div>
                    <div class="answer-block">
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" ng-click="votedown(answer)">
                            <i class="material-icons" ng-class="{'already-downvoted': answer.downvotes.indexOf(user.username) != -1,
                          'already-voted-other': answer.upvotes.indexOf(user.username) != -1}">keyboard_arrow_down</i>
                        </button>
                    </div>
                </div>
                <div class="answer">
                    <h6>{{answer.lingualContent[user.lang].text}}</h6>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card-border answer-author-description">
                <img class="profile" src="img/ic_face_black_48px.svg" />
                <p class="description-detail">{{ 'question.question.answered_by' | translate }} <a href="#">{{answer.answeredBy.username}}</a> <i class="verified material-icons">verified_user</i></p>
                <p class="description-detail">{{answer.created | date:'dd.MM.yyyy HH:mm'}}</p>
                <div class="mdl-card__actions mdl-card-border" ng-switch on="answer.lingualContent[user.lang].isTranslated">
                    <span class="description-detail translation-info" ng-switch-when="true">
                ({{ 'question.question.translated_automatically' | translate }})
              </span>
                </div>
            </div>
            <div class="mdl-card__menu">
                <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect" disabled style="color: grey;">-->
                <!--<i class="material-icons">translated</i>-->
                <!--</button>-->
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" style="color: grey;">
                    <i class="material-icons">edit</i>
                </button>
            </div>
        </div>
    </div>
</div>

<md-button class="md-fab md-fab-bottom-right" ng-click="showNewAnswer($event)">
    <md-icon md-svg-src="img/ic_add_white_24px.svg"></md-icon>
</md-button>