#title {
    color: white;
    text-decoration: none;
}

.question-card.mdl-card {
  width:90vw;
  min-height: 0px;
}

.description-detail {
  color: grey;
  font-size: 11px;
}

.translation-info {
  float: left;
  font-style: italic;
}

.author-description {
  float: right;
}

.detailed-author-description {
  width: 50vw;
  display: inline;
  float: right;
  color: grey;
  font-size: 11px;
}

.icon {
  margin-right: 5px;
  color: grey;
}

.logo {
  width: 100px;
  height: 100px;
}

#login-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.search {
  margin: 15px auto;
  width: 80vw;
}

.search-text {
  font-size: 24px;
}

.center {
  text-align: center;
}

.question-heading {
  color: black;
  text-decoration: none;
}

.additional-info {
  color: grey;
  font-size: 11px;
}

.profile {
  width: 36px;
  height: 36px;
  padding: 4px;
  float: left;
}

.answer-rating {
  height: 100%;
  text-align: center;
  float: left;
}

.answer {
  height: 100%;
  margin-left: 5vw;
  float: right;
}

.answer-block {
  margin: auto;
}

.verified {
  font-size: 10px;
  color: #3f51b5;
}

.mdl-card__actions.answer-author-description {
  background-color: #eee;
  color: grey;
}

.already-upvoted {
  color: green;
}

.already-downvoted {
  color: red;
}

.already-voted-other {
  color: lightgray;
}

.custom-md-tab {
    margin-bottom: 60pt;
}

.location-info {
  text-align: center;
}

#map_canvas {
  width: 80%; 
  height:250px;
  margin-left: auto;
  margin-right: auto;
}