<md-content layout-padding>
<form> 
    <md-input-container md-no-float class="md-block">
      <md-icon md-svg-src="img/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
      <input ng-model="searchtext" type="text" placeholder="{{ 'home.home.search' | translate}}" >
    </md-input-container>
</form>
</md-content>
<md-content style="padding-bottom: 80pt;">
    <md-tabs md-center-tabs md-stretch-tabs md-dynamic-height md-swipe-content>

        <md-tab label="{{ 'home.home.close_by' | translate}}">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="location-info">
                        <!--{{ 'home.home.near' | translate }} <a href="#">Wien Hauptbahnhof</a>-->
                        {{lat | number}}, {{lng | number}}
                        <div id="map_canvas"></div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col" ng-repeat="question in questions | orderBy: distance">
                    <div class="mdl-card question-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <a href="#/question/{{question.$id}}">
                                <h6 class="question-heading">{{question.lingualContent[user().lang].text}}</h6>
                            </a>
                        </div>
                        <div class="mdl-card__actions mdl-card-border" ng-switch on="question.lingualContent[user().lang].isTranslated">
                            <span class="description-detail translation-info" ng-switch-when="true">
                ({{ 'home.home.translated_automatically' | translate }})
                            </span>
                            <i ng-if="question.geoPosition.longitude != 0 && question.geoPosition.latitude != 0 && inGeoProximity(question.geoPosition.latitude, question.geoPosition.longitude, 1000)" class="col-xs-12 feature material-icons">location_on</i>
                            <span>({{distance(question) | number:0}}m)</span>
                            <span class="description-detail author-description">{{ 'home.home.asked_by' | translate }} <a href="#">{{question.askedBy.username}}</a></span>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">star_border</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab label="{{ 'home.home.trending' | translate }}">
        </md-tab>
        <md-tab label="{{ 'home.home.topics' | translate }}">
            <md-content class="md-padding">
                <md-list>

                    <md-subheader class="md-no-sticky">{{ 'home.home.general' | translate }}</md-subheader>
                    <md-list-item class="md-long-text">
                        <div class="md-list-item-text">
                            <h5>Nulla metus metus?</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-long-text">
                        <div class="md-list-item-text">
                            <h5>Nulla metus metus?</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">{{ 'home.home.overnight_stay' | translate }}</md-subheader>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">{{ 'home.home.orientation' | translate }}</md-subheader>
                    <md-list-item class="md-long-text">
                        <div class="md-list-item-text">
                            <h5>Nulla metus metus?</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">{{ 'home.home.legal_information' | translate }}</md-subheader>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">{{ 'home.home.travelling' | translate }}</md-subheader>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">{{ 'home.home.aid_in_kind' | translate }}</md-subheader>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">{{ 'home.home.food' | translate }}</md-subheader>

                    </div>
                </md-list>
            </md-content>
        </md-tab>

    </md-tabs>
</md-content>

<md-button class="md-fab md-fab-bottom-right" ng-click="showNewQuestion($event)">
    <md-icon md-svg-src="img/ic_add_white_24px.svg"></md-icon>
</md-button>