<md-dialog>
    <form ng-submit="ask()">
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <md-input-container class="md-block">
                        <label>{{ 'home.newquestion.question_placeholder' | translate }}</label>
                        <textarea ng-model="question.text" columns="1" rows="3"></textarea>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>{{ 'home.newquestion.tags_placeholder' | translate }}</label>
                        <input ng-model="question.tags">
                    </md-input-container>
                </div>
                <div>
                    <md-checkbox md-no-ink aria-label="{{ 'home.newquestion.location_based_question' | translate }}" ng-model="question.isGeoSensitive" ng-change="location_trigger()" ng-disabled="location_error" class="md-primary">
                        {{ 'home.newquestion.location_based_question' | translate }}
                        <br/>
                        <span class="additional-info">{{ 'home.newquestion.location_based_question_description' | translate }}</span>
                        <md-progress-linear md-mode="indeterminate" ng-show="querying_location"></md-progress-linear>
                    </md-checkbox>
                </div>
                <div>
                    <md-checkbox md-no-ink aria-label="{{ 'home.newquestion.private_question' | translate }}" ng-model="question.isPrivate" class="md-primary">
                        {{ 'home.newquestion.private_question' | translate }}
                        <br/>
                        <span class="additional-info">{{ 'home.newquestion.private_question_description' | translate }}</span>
                    </md-checkbox>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'home.newquestion.cancel' | translate }}
            </md-button>
            <md-button class="md-primary" ng-click="ask()" style="margin-right:20px;">
                {{ 'home.newquestion.submit_question' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>