<!doctype html>
<html ng-app="helpExchangeApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/material-design-lite/material.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script src="home/home.js"></script>
    <script src="login/login.js"></script>
    <script src="question/question.js"></script>
    <script src="services/services.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="HomeController">
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row" style="padding-left: 16px">
          <!-- Title -->
          <i class="material-icons">lightbulb_outline</i>
          <a id="title" href="/#/">
          <span class="mdl-layout-title">helpExchange</span>
          </a>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">{{user().username}}</a>
          </nav>
            <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">mood</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
              <li class="mdl-menu__item">{{ 'index.profile' | translate}}</li>
              <li class="mdl-menu__item">{{ 'index.myquestions' | translate}}</li>
              <li class="mdl-menu__item">{{ 'index.settings' | translate}}</li>
              <li class="mdl-menu__item"><a href="/#/login">{{ 'index.logout' | translate}}</a></li>
            </ul>
        </div>
      </header>
      <main class="mdl-layout__content">
          <div ng-view></div>
      </main>
    </div>
  </body>
</html>
