<div id="loginForm">
    
    <md-content layout-padding class="center">
        <div>
            <img class="logo" src="img/ic_lightbulb_outline_48px.svg" />
        </div>
        <div>
            <h4 id="login-title">{{ 'login.login.title' | translate }}</h4>
        </div>
        <div>    
            <md-input-container class="md-block">
                <label>{{ 'login.login.username_placeholder' | translate }}</label>
                <input input="text" ng-model="username">
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block">
                <label>{{ 'login.login.password_placeholder' | translate }}</label>
                <input type="password" ng-model="password">
            </md-input-container>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="login()">
                {{ 'login.login.sign_in' | translate }}
            </button>
        </div>
    </md-content>
</div>